.container {
  overflow: auto;
  position: relative;
}

.itemsContainer {
  position: relative;
}

.itemWrapper {
  position: absolute;
  width: 100%;
  top: var(--item-top, 0);
  height: var(--item-height, auto);
}
